.movie-list-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.movie-item {
  margin: 20px;
  padding: 10px;
  border: 2px solid #ddd;
}
.list-name{
  text-align: center;
}
.list-empty-message{
  text-align: center;
  padding: 20px;
}
